:root {
}
body {
	max-width: 1600px;
	margin: auto;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}
.container {
	margin: auto;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.top-sellers-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 100%;
}
.top-sellers-card > p {
	display: inline-block;
	max-width: 100%;
}
.top-sellers-section .button,
.submit-button {
	/* // de modificat color si background color cu var */
	background-color: #fd9222;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	padding: 12px 28px;
	text-align: center;
	border-radius: 100px;
	border-style: none;
	cursor: pointer;
	flex-basis: content;
}
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	background-color: #0000004d;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.5s linear, visibility 0.5s linear;
	z-index: 10;
	padding: 40px 0;
}
.modal {
	/* //   de modificat cu var */
	background-color: #fafafa;
	border-radius: 15px;
	position: relative;
	margin: auto;
}
.is-hidden {
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.5s linear;
}
.modal-form {
	display: flex;
	flex-direction: column;
	padding: 32px 24px;
	gap: 32px;
}
.modal .close-button {
	width: 24px;
	height: 24px;
	padding: 0;
	position: absolute;
	top: 14px;
	right: 14px;
	border-style: none;
	background-color: inherit;
	cursor: pointer;
}
.close-button svg {
	width: 100%;
	height: 100%;
	fill: currentColor;
	stroke: currentColor;
}
.modal-form > p {
	/* // de inlocuit cu var sau ramane de vazut daca e inherit default var de negru */
	color: #111;
	font-size: 24px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: -0.72px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}
.modal-form > p > span {
	/* // de inlocuit color cu var */
	color: #fd9222;
}
.sortiment-weight {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	justify-content: space-between;
	border-radius: 15px;
	border: 1px solid rgba(17, 17, 17, 0.1);
	/* de trecut var */
	background-color: #fff;
}
.sortiment-weight button {
	/* de trecut var */
	color: #111;
	font-weight: 600;
	padding: 6px 16px;
	border-radius: 100px;
	border: 1px solid rgba(17, 17, 17, 0.1);
	/* de tercut var */
	background: #fafafa;
}
.modal-form .form-label {
	/* // var la color */
	color: #000;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	letter-spacing: -0.24px;
}
.form-data-section {
	display: inline-flex;
	flex-direction: column;
	gap: 18px;
}
.form-field {
	cursor: pointer;
	display: inline-flex;
	flex-direction: column;
	height: 100%;
	gap: 8px;
}
.form-card {
	display: flex;
	flex-grow: 1;
	position: relative;
	align-items: center;
}
.form-field input,
.form-field textarea {
	display: flex;
	flex-grow: 1;
	height: auto;
	padding: 14px 18px;
	border-radius: 8px;
	border: 1.5px solid rgba(17, 17, 17, 0.05);
	box-shadow: 0px 5.444915294647217px 5.444915294647217px 0px
		rgba(0, 0, 0, 0.03);
	line-height: 16px;
	margin-bottom: 10px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	margin: 0;
}
.form-field .country-code {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	position: absolute;
	left: 18px;
	padding-right: 8px;
	border-right: 1.5px solid rgba(17, 17, 17, 0.05);
}
.form-field .country-code span {
	font-weight: 500;
	letter-spacing: -0.28px;
}
.form-field .country-flag {
	width: 24px;
	height: 18px;
	fill: currentColor;
}
.form-field .card-format {
	width: 22px;
	height: 13px;
	position: absolute;
	right: 18px;
}
.form-field input::placeholder,
.form-field textarea::placeholder {
	color: rgba(64, 64, 64, 0.3);
	letter-spacing: -0.28px;
}
.form-card:has(.country-code) input::placeholder {
	padding-left: 90px;
}
